*{
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    margin: 0%;
    padding: 0%;
}
:root{
    --primary-color:#0f2027;  
    --secondary-color:white;
}
.dark-theme{
    --primary-color: #c9d6ff;  
    --secondary-color:#0f2027;
}
body{
    background-color:var(--primary-color) ;
    color: var(--secondary-color);
    max-height: 40vh;
}
.container{
    display: grid;
    grid-template-columns:1fr 1fr;
    font-size: 17px;
}
.nav{
    padding: 10px;
}
a{  text-decoration: none;
    color: var(--secondary-color);
}
.container a:hover{
   text-decoration:underline var(--primary-color) ;
   transition-duration: 0.6s;
   font-size:  1rem;
   transform: scale(1);
}
#Name {
    display: flex;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 30px;
    color: var(--secondary-color);
    align-content: flex-start;
}
.sContainer{
    display: flex; 
    flex-direction: row; 
    padding: 2rem;
    margin-left: 21vw;
}
#light {
    margin-top: 0.62rem;
    cursor: pointer;
    height:1.4rem;
}
#light:hover{
    width: 2rem;
    height: 2rem;
}

main{
    margin-top: 20vh;
    margin-left: 24vw;
    font-size: 1.2rem;
}
#hi{
    font-size: 45px;
    margin-bottom: 2rem;
    display: block;
}
#img{
    margin-top: 2rem;
}
.main{
    display: grid;
    grid-template-columns: 6vw 17vw auto;
    margin: auto;
}
.icon{
    padding: 1rem;
    margin-top:4rem;
}

#intro{
    display: block;
    font-size: larger;
    margin: 10px;
    margin-left: 0px;
}
.picture{            
      border-radius: 50%; 
     border-color: var(--secondary-color);
} 
.contact{
   margin-top: 50px;
   border:var(--secondary-color) 1px solid;
   border-radius: 5px;
   padding:5px;
   font-size: larger;
   display: block;
   color: var(--secondary-color);
   font-weight: bold;
   padding: 5px;
   width: fit-content;
   background-color: var(--primary-color);

}  
.contact:hover{
    background-color: var(--secondary-color);
    color: black;
}

footer{
    margin-top: 15vh;
    margin-right: 1vw;
    float: right;
}
@media (min-width: 768px), (min-height: 1024px) {
    .main{
        font-size: 1.5rem;
    }
 }
  
@media(max-width:768px){
*{
    font-size: 1rem;
}
.main{
    display: block;
    margin: auto;
}
#Name u{
    font-size: 2rem;
}
.icon{
    display: none;
}
.sContainer{
    display: none;
}
}
